<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="org.woheller69.ttsengine" />
        <package android:name="org.woheller69.ttsengine.fdroid" />
        <package android:name="org.woheller69.ttsengine.debug" />
        <package android:name="com.google.android.tts" />
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_babeltrout_alt_rainbow"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_babeltrout_alt_rainbow"
        android:supportsRtl="true"
        android:theme="@style/Theme.Babeltrout">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
